<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Form </h1>
    <form action="/register" method="POST">
        <label for="first_name">Fname:</label>
        <input type="text" id="first_name" name="first_name"><br>

        <label for="last_name">Lname:</label>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="qualification"></label>
        <select name="qualification" id="qualification">
            <option value="Btech">Btech</option>
            <option value="10th">ssc</option>
            <option value="Pg">pg</option>
        </select><br>

        <label for="email"> Email:</label>
        <input type="email" name="email" id="email"><br>

        <label for="mobile">Mobile :</label>
        <input type="text" name="mobile" id="mobile"><br>

        <label for="course">Course:</label>
        <input type="text" name="course" id="course">

        <input type="submit" value="Register">
        
    </form>
</body>
</html>